.screen {
    display: none;
}

.screen.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.innerScreen {
    display: none;
}

.innerScreen.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

#field{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: lightgray;
    overflow: hidden;
}
#enemyBase {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: red;
}
#playerBase {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: blue;
}
.creature {
    position: absolute;
    bottom: 0;
}
